* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

main {
  background-color: black;
  height: 200px;
  color: white;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  line-height: 90px;
  background-color: white;
}

.navbar img {
  height: 90px;
  width: 220px;
  padding: 15px 0 15px 0;
  padding-left: 15px;
  display: inline-block;
}

.navbar ul {
  list-style: none;
  margin-right: 15px;
}

.navbar ul .active {
  border-bottom: 2px solid #62CE4E;
}

.navbar ul li {
  display: inline;
  padding: 10px 25px;
}

.navbar ul li:hover {
  border-bottom: 2px solid #62CE4E;
}

.navbar ul li a {
  text-decoration: none;
  color: #1A3D59;
  margin-bottom: 15px;
}

.navbar ul li button {
  height: 45px;
  width: 180px;
  background-color: #62CE4E;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.1em;
}

.footer {
  background-color: #1A3D59;
  padding-bottom: 40px;
}

.footer .footer_first {
  display: flex;
  justify-content: space-between;
  width: 82%;
  border-bottom: 1px solid white;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .footer_first .footer_first_left {
  color: white;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 20px;
}

.footer .footer_first .footer_first_left img {
  height: 80px;
}

.footer .footer_first .footer_first_right ul {
  list-style: none;
  line-height: 28px;
  font-size: 1.2em;
}

.footer .footer_first .footer_first_right ul a {
  color: white;
  text-decoration: none;
}

.footer .footer_first .footer_first_right ul a:hover {
  text-decoration: underline;
}

